{% extends 'base.html' %}
{% block content %}
<div ng-app="PaswordChangeApp" ng-controller="PaswordChangeCtrl">
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>Password change</legend>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piCurrPass">Old password</label>
                <div class="col-md-4">
                    <input id="id_old_password" name="old_password" type="password" ng-model="user.oldpassword" ng-keypress="checkIfEnterKeyWasPressed($event)" class="form-control input-md" required="">
                    
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPass">New password</label>
                <div class="col-md-4">
                    <input id="id_new_password1" name="new_password1" type="password" ng-model="user.newpassword" ng-keypress="checkIfEnterKeyWasPressed($event)" class="form-control input-md" required="">
                    
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="piNewPassRepeat">New password comfirmation</label>
                <div class="col-md-4">
                    <input id="id_new_password2" name="new_password2" type="password" ng-model="user.retypepassword" ng-keypress="checkIfEnterKeyWasPressed($event)"placeholder="" class="form-control input-md" required="">
                    
                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="bCancel"></label>
                <div class="col-md-8">
                    <input type="button" value="Change my password" class="btn btn-success" ng-click="pasword_change()"/>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<script type="text/javascript">
  var app = angular.module('PaswordChangeApp', []);
  app.controller('PaswordChangeCtrl', function($scope,$http,$window) {
  //Check keypress is Enter
      $scope.checkIfEnterKeyWasPressed = function($event){
        var keyCode = $event.which || $event.keyCode;
        if (keyCode === 13) {
            $scope.pasword_change()
        }
      };

    $scope.pasword_change = function () {
      $http({
        method : 'POST',
        url : '/accounts/password/',
        data : $scope.user
      }).then(function(response){
        if(response.status == 203){
          $window.alert(response.data.detail);
        }
        else
          if (response.status == 202){
            $window.alert(response.data.detail);
            window.history.back();
          }
      });
    }; 
  });
</script>

{% endblock %}