
{% extends 'base.html' %}
{% block content %}
<div ng-app="AddStreamApp" ng-controller="AddStreamCtrl"><!-- content -->
  <div>
    <a href="#addModal" role="button" data-toggle="modal" class="btn btn-success btn-xs">Add new process <span class="glyphicon glyphicon-plus"></a>
  </div>
  <!-- show loader -->
<!--   <div  ng-show="showLoader" alt="Loading...">
    <img src="/static/loading_spinner.gif"> 
  </div> -->
  <!-- end show loader -->
  <div><!-- content -->
  <div class="table-responsive" ng-show="job_list.length">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>State</th>
          <th>Description</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Last Modified</th>
          <th>Type</th>
          <th>Source</th>
          <th>Stream key</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in job_list">
          <td>{{'{{$index + 1}'}}}</td>
          <td>
            <!--Facebook, youtube -->
            <label ng-if="job.state == 0" class="label label-warning">Stopped</label>
            <label ng-if="job.state == 1" class="label label-success">Running</label>
            <label ng-if="job.state == 2" class="label label-warning">Unknow</label>
            <label ng-if="job.state == 3" class="label label-danger">Server has been stop!</label>
            <!--End Facebook, youtube -->
          </td>
          <td>{{'{{job.description}'}}}</td>
          <td>{{'{{job.name}'}}}</td>
          <td>{{'{{job.owner}'}}}</td>
          <td>{{'{{job.dmodified}'}}}</td>
          <td>{{'{{job.stream_type}'}}}</td>
          <td>{{'{{job.source}'}}}</td>
          <td>{{'{{job.stream_key}'}}}</td>
          <td>
            <!--Facebook, youtube -->
            <button type="button" ng-if="job.state == 1 " class="btn btn-warning btn-xs" ng-click="restart(job)">Restart <span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" ng-if="job.state == 2 || job.state == 0" class="btn btn-success btn-xs" ng-click="start(job)">Start <span class="glyphicon glyphicon-play-circle"></span></button>
            <button type="button" ng-if="job.state == 1 || job.state == 2" ng-hide="job.state == 2" class="btn btn-danger btn-xs" ng-click="stop(job)">Stop <span class="glyphicon glyphicon-stop"></span></button>
            <button type="button" ng-if="job.state == 0 || job.state == 2" class="btn btn-danger btn-xs" ng-click="delete(job)">Delete <span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-info btn-xs" ng-click="edit(job)">Edit <span class="glyphicon glyphicon-edit"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
    </div><!--end of .table-responsive-->
    <span ng-hide="job_list.length > 0 || showLoader">Please add new process!</span>
  </div><!-- end content -->

  <!-- model add process -->
  <div id="addModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="well form-horizontal" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" ng-hide="stream.dmodified">Add new process</h4>
            <h4 class="modal-title" ng-show="stream.dmodified">{{'{{stream.name}'}}}</h4>
          </div>
          <div class="modal-body">
            <!-- Event -->
            <div class="form-group">
              <label class="col-md-3 control-label">Stream type</label>
              <div class="col-md-9 selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                  <select class="form-control selectpicker" ng-model="stream.stream_type">
                    <option>Facebook</option>
                    <option>Youtube</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Name -->
            <div class="form-group" ng-hide="stream.dmodified">
              <label class="col-md-3 control-label">Name</label>
              <div class="col-md-9 selectContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                  <input type="text" class="form-control" placeholder="Name of process" ng-model="stream.name">
              </div>
            </div>
          </div>
          <!-- Source -->
          <div class="form-group">
            <label class="col-md-3 control-label">Source</label>
            <div class="col-md-9 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input type="text" class="form-control" placeholder="Default: 225.1.1.7:30120" value="225.1.1.7:30120" ng-model="stream.source">
              </div>
            </div>
          </div>
          <!-- Stream key -->
          <div class="form-group">
            <label class="col-md-3 control-label">Steam Key:</label>
            <div class="col-md-9 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea class="form-control" placeholder="Stream key" ng-model="stream.stream_key"></textarea>
              </div>
            </div>
          </div>
          <!-- end streamkey -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" ng-click="save()">Save <span class="glyphicon glyphicon-save"></span></button>
        </div>
      </form>
    </div>
  </div>
  <!-- End model add process -->
</div><!-- end contain -->
<script type="text/javascript" src="/static/main.js"></script>
{% endblock %}